<form>
    <mat-card>
        <div class="edit-bar">
            <button mat-raised-button color="primary" [(ngModel)]="mode" name="save" ngDefaultControl
                (click)="onEdit($event)" [disabled]="isDisabled" type="button">Guardar</button>
            <button mat-raised-button color="basic" [(ngModel)]="mode" name="modo" ngDefaultControl
                (click)="onEdit($event)" [disabled]="!isDisabled" type="button">Editar</button>
        </div>
        <mat-card-header>
            <mat-card-title>
                <h2>La Ruta</h2>
                <h1>Datos del negocio</h1>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field>
                <mat-label>Nombre del local</mat-label>
                <input placeholder="Nombre de local" matInput [disabled]="isDisabled" type="text" value="La Ruta">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Logo</mat-label>
                <input placeholder="logo.png" matInput [disabled]="isDisabled" type="text">
                <input placeholder="logo.png" [disabled]="isDisabled" type="file">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Fondo</mat-label>
                <input placeholder="300000" matInput [disabled]="isDisabled" type="number">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Dirección del restaurante</mat-label>
                <input placeholder="Ciudad del negocio" [disabled]="isDisabled" matInput type="text">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Ciudad</mat-label>
                <input matInput [disabled]="isDisabled" type="text">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Teléfono domicilio</mat-label>
                <input matInput [disabled]="isDisabled" type="number">
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <div class="switcher-container">
                <mat-slide-toggle [(ngModel)]="isOpen" color="primary" name="estado"></mat-slide-toggle>
                <div class="estado">
                    <div class="abierto" *ngIf="isOpen">Abierto</div>
                    <div class="cerrado" *ngIf="!isOpen">Cerrado</div>
                </div>
            </div>
        </mat-card-actions>

    </mat-card>
</form>